{% trans_default_domain 'FOSUserBundle' %}

<div class="col-sm-offset-2 col-sm-6">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div>
    <input class="col-sm-offset-4" type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
</div>
